.header {
  grid-area: header;
}

.article {
  grid-area: article;
}

.footer {
  grid-area: footer;
}

.section {
  grid-area: section;
}

.aside {
  grid-area: aside;
}

.grid-container {
  display: grid;
  height: 97vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  grid-template-areas:
    "header header"
    "aside article"
    "aside article"
    "section section"
    "section section"
    "section section"
    "footer footer";
}
